.custom-search {
  box-sizing: border-box;
  padding: 0 4px;
  .el-form-item {
    margin-bottom: 8px;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .el-button {
      margin-right: 12px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
} 